:root {
    --primary-color: #2f4f4f;
    --secondary-color: whitesmoke;
    --tertiary-color: #acbcc5;
    --white-color: #F7F9FB;
    --green-color: #687864;
}

/* Header & Nav */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 30px;  
}
header h1 {
    font-weight: bold;
    font-size: 10vh;
    color: var(--primary-color);    
    margin-top: 10px;
}
.opac {
    opacity: 40%;
}

.navbar-item,
.navbar-menu {
    font-weight: bolder;
}

.navbar-item:hover {
    background-color: rgb(228, 234, 235);
}

.hero {
    background-image: url("../images/rt-01.jpg");
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px; 
}
.jumbotron form {
    background-color: white;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
}
.where-to {
    flex: 40%;
    width: 40vw;
    height: 4vw;
    border-radius: 40px;
    font-size: 3vw;
    padding-left: 20px;
    border:none;
}
.where-to::placeholder {
    font-size: 2.5vw;
    padding-left: 10px;
}
.city-searchBtn {
    height: 4vw;
    border-radius: 40px;
    padding-left: 40px;
    border:none;
    background-color: white;
}
.city-searchBtn img {
    height: 2vw;
    width: 2vw;
    cursor: pointer;
}

/* Main section of page */
.tile {
    margin: 3%;
    background-color: var(--secondary-color);
}
body {
    background-color: var(--white-color) ;
    font-family: Helvetica, Arial, sans-serif;
    color: dark
}
/* hide api sections until city is input*/
#api-sections {
    display: none;
}
/* section headings */
h4 {
    flex: 100%;
    margin: 0 0 15px 0;
    color: var(--primary-color);
    border: solid 3px var(--green-color);
    border-radius: 30px;
    font-size: 2.5vw;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 0;
    height: 4vw;
}
h4:hover{
    -moz-box-shadow: 8px 15px 0px var(--tertiary-color);
    -webkit-box-shadow: 8px 15px 0px var(--tertiary-color);
    box-shadow: 8px 15px 0px var(--tertiary-color);
    transition: all 500ms ease;
}

/* MAPS styles start */
/* #maps{
    width: 65%;
    background-color: var(--secondary-color);
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 30px;
}

#map{
    position: absolute;
    top: 0;
    bottom:0;
    width: 100%;
} */
/* MAPS styles END */

/* WEATHER styles start */
#weather{
    justify-content: center;
    margin-bottom: 10%;
}
#weather span {
    margin: 15px 0;
}
.current-weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.weather-icon-bg {
    background-color: var(--primary-color);
    border-radius: 50%;
}
.city-name {
    font-weight: bold;
}
.displayMain {
    font-size: 25px;
}
.city-name,
.displayMain {
    flex:100%;
    margin:0;
    padding:0;
}
/* WEATHER styles END */

/* Tripadvisorstyles start */
#tripadvisor{
    justify-content: space-between;
    align-content: center;
    background-color: var(--secondary-color);
    align-items: center;
}
#ticketmaster-url-btn:hover {
    background-color: var(--primary-color);
    opacity: 20%;
    color: whitesmoke;
}
a {
    text-decoration:none;
    color: whitesmoke;
}
#event-container a:hover {
    background-color:rgb(228, 234, 235);
    color: var(--primary-color);
    border: 1px solid;
}
/* Tripadviser styles END */


/* Budget-modal Styles start */
#budget {
    justify-content: space-between;
}
#budget h4,
.budget-callMessage,
.budget-calculate,
.budget-calculateDetails {
    flex: 100%;
    margin: 0 0 15px 0;
}
.budget-callMessage p {
    color: var(--primary-color);
    font-size: 25px;
    text-align: center;
    margin: 10px 0 5px 0;
    /* text-shadow: 0 0 15px rgba(0, 0, 0, 0.5); */
}
.budget-calculatorDatails p,
.budget-calculatorDatails ul, 
.budget-calculatorDatails li {
    color: var(--primary-color);
    font-size: 20px;
    text-align: left;
    margin: 10px 0 5px 0;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.budget-calculatorDatails ul {
    margin-bottom: 20px;
}
.boldText {
    font-weight: bold;
    font-size: 20px;
}
.budget-calculate {
    text-align: center;
}
.budget-calculateBtn {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: var(--white-color);
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, var(--secondary-color) 0%, 
    var(--secondary-color) 52%, var(--green-color) 90%);
    padding: 10px;
    margin: 0 5px 0 5px;
    border-radius: 10px;
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 0 -10px;
}
.budget-calculateBtn:hover {
    background-position: 1px -50px;
}
.modal-budget-hidden {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vw;
    padding-left: 35vw;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(126, 65, 65, 0.75); 
}
.modal-budget-shown {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 10vw;
    padding-left: 35vw;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.75);
}
.modal-budget-content {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%,
     #2BD2FF 52%, #2BFF88 90%);
    opacity: 0.7;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}
.modal-budget-header,
.model-budget-body,
.modal-budget-footer {
    flex:100%;
    margin: 5px 0;
}
.modal-budget-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 35px;

}
.modal-budget-closeModal,
.modal-budget-title {
    flex:100%;
}
.modal-budget-closeModal {
    text-align: right;
    background-color: transparent;
    border:none;
    font-size: 25px;
    color: white;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding-right: 10px;
}
.modal-budget-closeModal:hover {
    font-size:50px;
}
.modal-budget-title {
    margin: 0 0 10px 0;
    text-align: center;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.modal-budget-body form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modal-budget-form {
    flex: 100%;
    width: 70%;
    margin: 7px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modal-budget-form label{
    flex: 100%;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.modal-budget-form input {
    width: 30%;
    border-radius: 10px;
    text-align: center;
}
.modal-budget-footer {
    text-align: center;
    margin: 20px 0 15px 0;
}
.modal-budget-closeBtn,
.modal-budget-saveBtn {
    padding: 10px;
    margin: 0 5px 0 5px;
    border-radius: 10px;
    
}
.modal-budget-closeBtn {
    background-color: #FA8BFF;
}
.modal-budget-saveBtn {
    background-color: #2BFF88;
}
/* Budget-modal Styles ends */

/* Spotify styles start */
#spotify {
    flex: 100%;
    width: 65%;
    background-color: var(--secondary-color);
    /* background-image: linear-gradient(45deg, var(--secondary-color) 0%, 
    var(--secondary-color) 52%, var(--green-color) 90%); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-top: 25px;
}
#spotify h4 {
    flex: 100%;
    margin: 0 0 15px 0;
}
#spotify h4 {
    color: var(--primary-color);
    border: solid 3px var(--primary-color);
    border-radius: 30px;
    font-size: 2.5vw;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 0;
    height: 4vw;
}
#spotify h4:hover {
    -moz-box-shadow: 8px 15px 0px var(--tertiary-color);
    -webkit-box-shadow: 8px 15px 0px var(--tertiary-color);
    box-shadow: 8px 15px 0px var(--tertiary-color);
    transition: all 500ms ease;
}

#form{
    margin-right:5%;
    margin-left:5%;
    padding:5%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.selector label{
    color: var(--primary-color);
    font-size: 25px;
    text-align: center;
    margin: 10px 0 5px 0;
    padding-right: 2%;
}

.selector select{
    border-radius: 5px;
    width: 60%;
    height: 26px;
}
 
    .selector button {
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: var(--white-color);
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, var(--tertiary-color) 0%, 
    var(--secondary-color) 52%, var(--green-color) 90%);
    padding: 10px;
    border-radius: 10px;
    transition: all .5s ease-out;
    background-size: 1px 100px;
    width: 30%;
    margin-left:35%;

}

.selector button:hover {
    background-position: 1px -50px;
}

.selector{
    margin-bottom: 5%;

}

.song-list{
    margin:2%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#song-detail{
    padding-left:30%;
    padding-right:30%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex:100%;

}


#image{
    padding-left: 35%;
    padding-top: 10% ;
}

.row{
    width: 100%;
}

.song-detail-text{
    color: var(--primary-color);
    font-size: 20px;
    text-align: center;
    margin: 10px 0 5px 0;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding-right: 2%;
    width:100%;
}

.listitem{
    padding-right: 2%;
    background-color: var(--primary-color);
    padding-bottom: 2%;
    color: var(--white-color);
    padding:1%;
    margin:1%;
    text-decoration: none;

}
/* Spotify styles END */


/* Footer Start */
footer {
    padding: 15px;
    color: var(--primary-color);
    background-color: rgb(228, 234, 235);
    font-size: 0.5vw;
    font-weight: bolder;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* Footer Style END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 1010px) {
   .navbar {
        flex: 100%;
        background-image: none;
    }
   
    .navbar h1 {
        text-align: center;
        font-size: 20pt;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .hero {
        height: 100%;
    }
    header nav {
        flex: 100%;
        align-items: center;
        margin: 0 35px;
    }
    footer {
        display: none;
    }
};
